<template>
  <section class="section">
    <calendar-main-block></calendar-main-block>
  </section>
</template>

<script>
import CalendarMainBlock from '@/components/CalendarMainBlock';

export default {
  components: {
    CalendarMainBlock
  },
  data() {
    return {
      active_date: '',
    }
  }
}
</script>

<style scoped lang="scss">
  
</style>

