<template>
  <section class="calendar-main-block">
    <div class="columns">
      <div class="column is-1">
        <hours-scale></hours-scale>
      </div>
      <template v-for="(date, index) of date_range">
        <div class="column is-2" :key="index">
          <day-column v-if='!$apollo.queries.calendars.loading' :date="date"  @addEvent="addEvent" :events="getEventsByDay(date)"></day-column>
        </div>
      </template>
    </div>
  </section>

</template>

<script>
  import gql from 'graphql-tag'
  import DayColumn from "~/components/DayColumn.vue";
  import HoursScale from "~/components/HoursScale.vue";
  import calnedarByName from "~/gql/queries/calendarByName.gql"
  import createCalendarEventMutation from "~/gql/mutations/createCalendarEvent.gql"
  import createCalendarMutation from "~/gql/mutations/createCalendar.gql"

  export default {
    apollo: {
      calendars: {
        query: calnedarByName,
        variables: {
          name: 'test'
        }
      }
    },
    name: "calendar-main-block",
    props: {
      activeDate: {
        default() {
          return this.moment();
        }
      }
    },
    components: {
      DayColumn,
      HoursScale
    },
    mounted() {

    },
    data() {
      return {
        
      };
    },
    methods: {
      getEventsByDay(day) {
        return  this.lodash.filter(this.events, value => value.start_at.isSame(day, 'day')) 
      },
      createCalendar(){
        const name = 'calendar create with vue';
        this.$apollo.mutate({
          mutation: createCalendarMutation,
          variables: {
            name,
          },
        }).then(data => {
          console.log('Done create.');
        });
      },
      createEvent(data){
        this.$apollo.mutate({
          mutation: createCalendarEventMutation,
          variables: {
            ...data,
            calendar_id: this.lodash.head(this.calendars).id,
          },
        }).then(data => {
          console.log('Done create.');
        })
      },
      addEvent(event) {
        //this.events.push(event)
        this.createEvent({
          start_at: event.start_at.format('YYYY-MM-DD HH:mm:ss'),
          end_at: event.end_at.format('YYYY-MM-DD HH:mm:ss'),
          title: event.title,
          description: event.description,
        })
      }
    },
    computed: {
      events() {
        return this.calendars ?
        this.lodash.map(this.lodash.head(this.calendars).events, event => {
          return {
            title: event.title,
            description: event.description,
            start_at: this.moment(event.start_at),
            end_at: this.moment(event.end_at),
            duration: this.moment.duration(this.moment(event.start_at).diff(this.moment(event.end_at))),
          }
        })
        :[]
      },
      date_range() {
        const range = this.moment.range(
          this.activeDate,
          this.moment(this.activeDate).add(4, "days")
        );
        return Array.from(range.by("days"));
      }
    }
  };
</script>

<style scoped lang="scss">
  .calendar-main-block {
   
  }
</style>
