<template>

  <div class="day-column">
    <span class="date-title">
        {{date.format('DD MMMM')}}
    </span> 
    <template v-for="(value, index) in range_hours">
      <span @dblclick='addEvent(value)' class="separeted-hours" :key="index">
      </span>
    </template>
    <template v-for='(event, index) in events'>
      <event :key="index" :data='event'></event>
    </template>
  </div>

</template>

<script>

  import Event from '@/components/Event';

  export default {
    name: 'day-column',
    props: ['date', 'events'],
    components: { Event },
    mounted(){
      const scale_start = this.date.clone().set({
        hour: '00',
        minute: '00',
        second: '00',
      });
      const scale_end = this.date.clone().set({
        hour: '23',
        minute: '00',
        second: '00',
      });
      this.range_hours = Array
      .from(this.moment
        .range(scale_start, scale_end)
        .by('minutes', { step: 30 })
        );
    },
    data() {
      return {
        range_hours: [],
      }
    },
    methods: {
      getEventsByTime(time){
        return this.lodash.filter(this.events, { time })
      },
      addEvent(start_at) {
        this.$emit('addEvent', {
          start_at,
          get end_at() {
            return start_at.add(this.duration)
          },
          title: 'new event',
          description: 'description',
          duration: this.moment.duration(60, 'minutes'),
        })
      }
    },
  }
</script>
<style scoped lang='scss'>
  .day-column {
    position: relative;
    display: flex;
    flex-direction: column;
    .date-title {
      border-bottom: 2px solid #000;
    }
    .separeted-hours {
      cursor: pointer;
      border-bottom: 1px solid rgb(189, 189, 189);
      display: inline-flex;
      min-height:  $body-line-height * 2rem;
      &:nth-child(even){
        border-bottom: 1px dotted rgb(223, 223, 223);
      }
    }
  }
</style>
