<template>

    <div class="notification event is-info" :style="style">
      <p class="title is-5">
        {{data.title}}
      </p>
      <p>
        {{data.description}}
      </p>
      <div class="resize-button">
        <span class="icon">
          <i class="fas fa-bars"></i>
        </span>
      </div>
    </div>

</template>

<script>

export default {
  name: "event",
  props: ['data'],
  mounted() {

  },
  data() {
    return {};
  },
  methods: {},
  computed: {
    style(){
      const top = 0.1 * this.moment.duration(this.data.start_at.format('HH:mm')).asMinutes()+ 1.6;
      const height = 0.1 * this.data.duration.asMinutes();
      return {
        top: `${ top }rem`,
        height: `${ height }rem`
      }
    }
  }
};
</script>

<style scoped lang="scss">
.event {
  width: 100%;
  position: absolute;

  .title{
    margin-bottom: .5em;
  }

  .resize-button {
    background-color: $info;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    cursor: ns-resize;
    height: 1.5rem;
    display: flex;
    .icon {
      margin: auto;
      background-color: rgba(255, 255, 255, .2);
      border-radius: 5px;
    }
  }
}
</style>
