<template >

  <section class="hours-scale">
    <template v-for="(time, index) in range_hours">
      <div class="division" :key="index"> 
        <span class="mark"> {{time.format('HH:mm')}} </span>
      </div> 
    </template>
  </section>

</template>

<script lang="js">


  export default  {
    name: 'hours-scale',
    props: [],
    mounted() {
      this.range_hours = Array.from(this.moment.range(this.moment('00:00', 'hh:mm'), this.moment('23:00', 'hh:mm')).by('hours'));
    },
    data() {
      return {
        range_hours: [],
      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .hours-scale {
    display: flex;
    flex-direction: column;
    margin-top: .75rem;
    .division {
      display: flex;
      height: $body-line-height * 4rem;
      flex-direction: column;

      .mark {
        display: inline-flex;
      }
      &:first-child{
        visibility: hidden;
      }
    }
  }
</style>
